@media(max-width:1050px){
  .hero{
    background-size: 600px 600px;
  }
}
@media(max-width:798px){
    .hero{
      background-size: 450px 450px;
    }
    .hero__title{
        font-size: 55px;
    }
    hero__desc{
        font-size: 20px;
    }
    .hero__btn{
        padding: 17px 25px;
    }
    .section__wrapper{
        column-gap: 60px;
    }
    .section__wrapper{
        grid-template-columns: 1.3fr 1fr;
    }
    .affordable__btn{
        padding: 18px 20px;
    }
  }
  @media(max-width:690px){
   .hero{
    background: transparent;
   }
  }